@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

.fabricMainContainer {
  font-family: "Sankofa Display", sans-serif !important;
  width: 100%;
  height: 100vh;
  margin: auto;
  margin: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 230px 0 80px 0;

  * {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
  }

  .fabricChildContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

    .fabricImg {
      width: 100%;
      height: 100%;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 70%;
        height: 22em;
        object-fit: cover;

        @media (max-width: 1281px) {
          width: 78%;
        }
        @media (max-width: 1121px) {
          width: 82%;
        }
        @media (max-width: 1001px) {
          width: 87%;
          height: 20em;
        }
        @media (max-width: 680px) {
          height: 17em;
        }
        @media (max-width: 430px) {
          height: 14em;
          width: 93%;
        }
        @media (max-width: 400px) {
          height: 12em;
        }
      }
    }
    .fabricContent {
      width: 65%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      span {
        color: #ff523b;
      }

      #intro {
        font-size: 14px;
        font-weight: 490;
        letter-spacing: 0.8px;
        line-height: 18px;
      }

      .fabricDetails {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;

        h2 {
          font-size: 25px;
          font-weight: 300;
        }

        .fabricSection {
          display: flex;
          flex-direction: column;
          gap: 7px;

          .fabricSubSection {
            display: flex;
            flex-direction: column;
            gap: 4px;
            h6 {
              font-size: 30px;
            }
            p {
              font-size: 13px;
              font-weight: 400;
              letter-spacing: 0.5px;
              line-height: 18px;
            }
          }
        }
      }
      @media (max-width: 1281px) {
        width: 72%;
      }
      @media (max-width: 1121px) {
        width: 76%;
      }
      @media (max-width: 1001px) {
        width: 83%;
      }
      @media (max-width: 430px) {
        width: 90%;
      }
    }
    @media (max-width: 900px) {
      width: 90%;
    }
  }

  @media (max-width: 1001px) {
    margin: 200px 0 45px 0;
  }
  @media (max-width: 974px) {
    margin: 87px 0 30px 0;
  }
  @media (max-width: 880px) {
    margin: 0;
  }
}
